# Created by https://www.toptal.com/developers/gitignore/api/deno
# Edit at https://www.toptal.com/developers/gitignore?templates=deno

### Deno ###
/.idea/
/.vscode/

/node_modules

.env
*.orig
*.pyc
*.swp

# Screenshot util generated executables
screenshots/
screenshot.exe

# Generated voicelines
assets/voicelines
assets/screenshots

# End of https://www.toptal.com/developers/gitignore/api/deno
